<div>
    @* Logo or name *@
    <div class="logo-container">smartjournal</div>

    @* Pages *@
<div class="page-list-container">
    <ul class="pages-lists">
        <li>Dashboard</li>
        <li>Calender</li>
        <li>Create</li>
        <li>Analytics</li>
        <li>Settings</li>
    </ul>
</div>
 
</div>