<div>
    @* Logo or name *@
    <div class="logo-container">smartjournal</div>

    @* Pages *@
<div class="page-list-container">
    <ul class="pages-lists">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>
        <li>Calender</li>
        <li>Create</li>
        <li>Analytics</li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/settings" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Settings
                </NavLink>
            </li>
    </ul>
</div>
 
</div>