@using smart_journal.Pages
@inject Services.AppState AppState

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}

<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">

        @if (!AppState.IsUnlocked)
        {
            <Lock />
        }
        else
        {
            <RouteView RouteData="@routeData"
                       DefaultLayout="@typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        }

    </Found>
    <NotFound>
        <p>Page not found</p>
    </NotFound>
</Router>
